<form ng-submit="cadastro(atletaacademia)">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title ">Cadastro de Atletas</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">
                <label class="control-label col-md-2" for="NomeImg">Foto</label>
                <div class="controls controls-row">
                    <img id="imgPreview" src="" class="img-thumbnail" width="80" height="30" />
                    <input class="input-block-level" type="file" id="CaminhoImg" name="CaminhoImg" onchange="imagepreview(this);" />
                </div>
            </div>
        </div>

        <div class="span6">

            <div class="control-group">
                <label class="control-label col-md-2">Academia</label>
                <div class="controls controls-row">
                    <select required="required" class="input-block-level" ng-model="atletaacademia.academiaid" ng-options="academia.id as academia.nome for academia in academias"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Nome">Nome</label>
                <div class="controls controls-row">
                    <input ng-model="atletaacademia.atleta.Nome" class="input-block-level text-uppercase" id="Nome" name="Nome" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span2">
            <label class="control-label" for="Sexo">
                Sexo
                <br />
                <label class="radio-inline"><input type="radio" name="Sexo" ng-model="atletaacademia.atleta.Sexo" value="M"> Masculino</label>
                <label class="radio-inline"><input type="radio" name="Sexo" ng-model="atletaacademia.atleta.Sexo" value="F"> Feminino</label>
            </label>
        </div>
        <!--<div class="span2">
            <label class="control-label" for="EResponsavel">
            Responsável ?
                <input  class="input-block-level text-uppercase" type="checkbox"
                       ng-model="atletaacademia.atleta.EResponsavel"
                       name="EResponsavel"
                       ng-true-value="True" 
                       ng-false-value="False">
            </label>
        </div>-->

    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="NomeIdent">Nome de identificação</label>
                <div class="controls controls-row">
                    <input ng-model="atletaacademia.atleta.NomeIdent" class="input-block-level text-uppercase" id="NomeIdent" name="NomeIdent" type="text" value="" />
                </div>
            </div>
        </div>

        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="DataNasc">Data de Nascimento</label>
                <div class="controls controls-row">
                    <input class="input-block-level" ng-model='atletaacademia.atleta.DataNasc' id="DataNasc" name="DataNasc" type="text" value="" />
                </div>
            </div>      
            </div>

        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Identidade">Número da Identidade</label>
                <div class="controls controls-row">
                    <input ng-model="atletaacademia.atleta.Identidade" class="input-block-level text-uppercase" id="Identidade" name="Identidade" type="text" value="" />
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2">Graduação</label>
                <div class="controls controls-row">
                    <select required="required" class="input-block-level" ng-model="atletaacademia.atleta.GraduacaoId" ng-options="graduacao.id as graduacao.nome for graduacao in graduacoes"></select>
                </div>
            </div>
        </div>

        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="Peso">Peso</label>
                <div class="controls controls-row">
                    <input ng-model="atletaacademia.atleta.Peso" class="input-block-level text-uppercase" id="Peso" name="Peso" type="text" value="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <div class="control-group">
                <label class="control-label col-md-2" for="Endereco">Endereço</label>
                <div class="controls controls-row">
                    <input class="input-block-level text-uppercase" ng-model="atletaacademia.atleta.Endereco" id="Endereco" name="Endereco" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span1">
            <div class="control-group">
                <label class="control-label col-md-2" for="Numero">Número</label>
                <div class="controls controls-row">
                    <input class="input-block-level text-uppercase" ng-model="atletaacademia.atleta.Numero" id="Numero" name="Numero" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2" for="Bairro">Bairro</label>
                <div class="controls controls-row">
                    <input class="input-block-level text-uppercase" ng-model="atletaacademia.atleta.Bairro" id="Bairro" name="Bairro" type="text" value="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2" for="Complemento">Complemento</label>
                <div class="controls controls-row">
                    <input class="input-block-level text-uppercase" ng-model="atletaacademia.atleta.Complemento" id="Complemento" name="Complemento" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2">País</label>
                <div class="controls controls-row">
                    <select required="required" class="input-block-level" ng-model="atletaacademia.atleta.PaisId" ng-change="mudaPais(atletaacademia.atleta.PaisId)" ng-options="pais.id as pais.nome for pais in paises"></select>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2">Estado</label>
                <div class="controls controls-row">
                    <select required="required" class="input-block-level" ng-model="atletaacademia.atleta.EstadoId" ng-change="mudaEstado(atletaacademia.atleta.EstadoId)" ng-options="estado.id as estado.sigla for estado in estados"></select>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2">Cidade</label>
                <div class="controls controls-row">
                    <select required="required" class="input-block-level" ng-model="atletaacademia.atleta.CidadeId" ng-options="cidade.id as cidade.nome for cidade in cidades"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2" for="Telefone">Telefone Fixo</label>
                <div class="controls controls-row">
                    <input class="input-block-level text-uppercase" ui-br-phone-number ng-model="atletaacademia.atleta.Telefone" id="Telefone" name="Telefone" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label col-md-2" for="Celular">Celular</label>
                <div class="controls controls-row">
                    <input class="input-block-level text-uppercase" ui-br-phone-number ng-model="atletaacademia.atleta.Celular" id="Celular" name="Celular" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <label class="control-label col-md-2" for="Email">Email</label>
                <div class="controls controls-row">
                    <input class="input-block-level" ng-model="atletaacademia.atleta.usuario.Email" type="text" value="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">
                <label class="control-label col-md-2" for="Site">Site</label>
                <div class="controls controls-row">
                    <input class="input-block-level" ng-model="atletaacademia.atleta.Site" id="Site" name="Site" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label col-md-2" for="Facebook">Facebook</label>
                <div class="controls controls-row">
                    <input class="input-block-level" ng-model="atletaacademia.atleta.Facebook" type="text" value="" />
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label col-md-2" for="Twitter">Twitter</label>
                <div class="controls controls-row">
                    <input class="input-block-level" ng-model="atletaacademia.atleta.Twitter" type="text" value="" />
                </div>
            </div>
        </div>
    </div>
    <div ng-if="errors.length > 0" class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div class="alert alert-danger">
                    <li ng-repeat="item in errors">{{item}}</li>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="control-group">
                <button class="control-group btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                <a href="#/atletaacademia" class="btn">Cancelar</a>
            </div>
        </div>
    </div>
</form>
    </div>
