<br/>
<br />
<div class="row-fluid">
    <!--BEGIN METRO STATES-->
    <div class="metro-nav">
        <div class="metro-nav-block nav-block-orange">
            <a data-original-title="" href="sistema.html#/academia">
                <i class="fa fa-group"></i>
                <div class="info">321</div>
                <div class="status">Academias</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-yellow">
            <a data-original-title="" href="sistema.html#/atletaacademia">
                <i class="fa fa-user"></i>
                <div class="info">+970</div>
                <div class="status">Atletas</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-grey">
            <a data-original-title="" href="sistema.html#/responsavelacademia">
                <i class="fa fa-male"></i>
                <div class="info">49</div>
                <div class="status">Responsáveis</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-blue double">
            <a data-original-title="" href="sistema.html#/torneio">
                <i class="fa fa-trophy"></i>
                <div class="info">+897</div>
                <div class="status">Torneios</div>
            </a>
        </div>
    </div>

    <div class="space10"></div>
    <!--END METRO STATES-->
</div>