<div class="row-fluid">
    <div class="span12">
           <form class="form-vertical" ng-submit="cadastro(classe)" novalidate>
    <div class="row-fluid">
                <div class="span12">
        <h3 class="page-title ">Cadastro de Classes</h3>
    </div>
    </div>
            <div class="row-fluid">
                <div class="span8">
                    <div class="control-group">
                        <label class="control-label" for="Nome">Nome</label>
                        <div class="controls controls-row">
                            <input ng-model="classe.Nome" class="input-block-level text-uppercase" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <div class="control-group">
                        <label class="control-group" for="continente">Idade Inicial</label>
                        <input class="input-block-level text-uppercase" ng-model="classe.IdadeInicial" type="text" />
                    </div>
                </div>
                <div class="span2">
                    <div class="control-group">
                        <label class="control-group" for="continente">Idade final</label>
                        <input class="input-block-level text-uppercase" ng-model="classe.IdadeFinal" type="text" />
                    </div>
                </div>
            </div>
            <div ng-if="errors.length > 0" class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <div class="alert alert-danger">
                            <li ng-repeat="item in errors">{{item}}</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <div class="control-group">
                        <button class="control-group btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                        <a href="#/classe" class="btn">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>